.page {
  height: 100%;
  width: 100%;

  /* background: rgb(36, 158, 151);
  background: linear-gradient(
    0deg,
    rgba(36, 158, 151, 1) 0%,
    rgba(219, 219, 219, 1) 100%
  ); */
  background-image: url("../../assets/images/background.png");
  background-position: center;
  display: inline-flex;
  min-width: 600px;
}

.page .logo {
  width: 300px;
  /* height: 200px; */
  /* border: solid red; */
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -150px;
}

.logo-picture {
  width: 300px;
}

.page .menu-button {
  margin: auto;
  height: 300px;
  width: 10%;
  min-width: 200px;
  max-width: 200px;
  padding: 10px;
  border-radius: 1.4rem;
  background-color: #fff;
  box-shadow: 8px 8px 16px 0px rgb(0 0 0 / 20%);
}

.page .menu-button .button-pictogram {
  margin-top: 40px;
  width: 200px;
  height: 200px;
  justify-content: center;
  display: inline-flex;
}

.page .menu-button .button-pictogram .button-text {
  margin-top: 20px;
  margin-left: 20px;
  font-weight: 700;
}

.assist-button {
  text-align: center;
  background-color: #fff;
  margin-top: 35px;
  border-radius: 1rem;
  width: 250px;
  height: 30px;
  font-weight: 700;
}

.page .menu-button .button-pictogram img {
  max-width: 100%;
  max-height: 100%;
}

.page .doctor-pictogram {
  display: inline-block;
  justify-content: center;
  margin: auto;
  height: 200px;
  width: 250px;
  /* border: solid black; */
}

.page .doctor-pictogram .doctor-dialog {
  display: inline-flex;
  height: 200px;
  width: 200px;
}

.page .doctor-pictogram .doctor-dialog img {
  max-width: 100%;
  max-height: 100%;
}

.page .doctor-pictogram .doctor-dialog .banner {
  max-width: 120px;
  max-height: 100px;
}
