.login-container {
    position: relative;
    left: 50%;
    top: 50%;
    width: 30%;
    max-width: 550px;
    min-width: 350px;
    transform: translate(-50%, -50%);
}


.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: white;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    font-family: 'Poppins-Medium';
}

.login-form p {
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
}

.login-form > input::placeholder{
    font-family: 'Poppins-Light';
}

.login-form > input {
    border-radius: 10px;
    border: 1px solid black;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 4px 0;
    width: 75%;
    height: 30px;
    text-align: center;
}

.login-form .banner {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 15px;
}

.login-form button {
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    height: 30px;
    letter-spacing: 1px;
    margin-top: 5px;
    padding: 0px 15px;
    transition: 0.3s;
    cursor: pointer;
}

.login-form button:hover {
    background-color: white;
    color: black;
}

.login-form .forgot-pass{
    margin-top: 10px;
    margin-bottom: 7px;
    font-size: 12px;
    color: #0777d9;
    cursor: pointer;
}

.login-form .forgot-pass:hover{
    text-decoration: underline;
}

.login-container .back-button {
    text-decoration: none;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    border-radius: 10px;
    padding: 3px 13px;
    border: 1px solid black;
    font-family: 'Poppins-Medium';
    cursor: pointer;
    background-color: rgb(44, 162, 182);
    transition: 0.3s;
}

.login-container .back-button:hover {
    background-color: white;
    color: rgb(44, 162, 182);
}


